@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
* {
  box-sizing: border-box;
}

html, body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

html, body {
  --th-background: #222;
  --th-surface: #333;
  --th-primary: #18a9ff;
  --th-secondary: #cc00cc;
  --th-error: #bb0020;
  --th-on-primary: #ffffff;
  --th-on-secondary: #ffffff;
  --th-on-error: #ffffff;
  --th-on-surface: #ffffff;
  background: var(--th-background);
  color: var(--th-on-primary);
}

/**
Unlike standard grids, we don't use the standard 12 columns on small, medium
and large devices. We instead have our defaults set to:
  small:  1-2 (.cs1 - .cs2)
  medium: 1-4 (.cm1 - .cm4)
  large:  1-6 (.cl1 - .cl6)

Each is a percentage derived from 100%/n
As with most grids, ours is mobile up. This means you
can just include .cs2 to have something be a 100% sized element
on all breakpoints, or even just .cs1 to have it be 50% on all devices.

You can offset elements by a margin of n% as well using .o{size}{n}
Some restrictions are put in place to ensure you don't scroll off
page though, these are created using the filter:
  col + offset <= max cols
An example would be the .cl* class list. If I had a column size of
  .cl2
then the only available offsets would be .ol1-4 as the maximum number
of columns in the large class list is 6. Similarly, the class .cs2 wouldn't
have any offsets

The standard structure of a grid is the following:
<div class="grid-cont">
  <div class="grid">
    <div class="cs2 cm2 cl4 om1 ol1">
      <!-- ... -->
    </div>
  </div>
</div>

The above example would give something that's:
  100% width on small
  50% width on medium with an offset of 25%
  50% width on large with an offset of 25%
As the last two are the same, you could simplify the class list to just be
  .cs2.cm2.om1

Grids do look better with the grid-cont element wrapped in a .container
though.
*/
.grid-cont > .grid {
  margin-left: 0rem;
}

.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -0.8rem;
  padding: 0.4rem;
}
.grid .cs1, .grid .cs2,
.grid .cm1, .grid .cm2, .grid .cm3, .grid .cm4,
.grid .cl1, .grid .cl2, .grid .cl3, .grid .cl4, .grid .cl5, .grid .cl6 {
  flex: 0 0 50%;
  padding: 0.4rem;
  max-width: 50%;
  transition: flex 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95), max-width 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.grid .cs1 > *, .grid .cs2 > *,
.grid .cm1 > *, .grid .cm2 > *, .grid .cm3 > *, .grid .cm4 > *,
.grid .cl1 > *, .grid .cl2 > *, .grid .cl3 > *, .grid .cl4 > *, .grid .cl5 > *, .grid .cl6 > * {
  max-width: 100%;
}
.grid .cs1 {
  flex: 0 0 50%;
  max-width: 50%;
}
.grid .cs1.os0 {
  margin-left: 0%;
}
.grid .cs1.os1 {
  margin-left: 50%;
}
.grid .cs2 {
  flex: 0 0 100%;
  max-width: 100%;
}
.grid .cs2.os0 {
  margin-left: 0%;
}

@media (min-width: 38rem) {
  .grid .cm1 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid .cm1.om0 {
    margin-left: 0%;
  }
  .grid .cm1.om1 {
    margin-left: 25%;
  }
  .grid .cm1.om2 {
    margin-left: 50%;
  }
  .grid .cm1.om3 {
    margin-left: 75%;
  }
  .grid .cm2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid .cm2.om0 {
    margin-left: 0%;
  }
  .grid .cm2.om1 {
    margin-left: 25%;
  }
  .grid .cm2.om2 {
    margin-left: 50%;
  }
  .grid .cm3 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid .cm3.om0 {
    margin-left: 0%;
  }
  .grid .cm3.om1 {
    margin-left: 25%;
  }
  .grid .cm4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .grid .cm4.om0 {
    margin-left: 0%;
  }
}
@media (min-width: 60rem) {
  .grid .cl1 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .grid .cl1.ol0 {
    margin-left: 0%;
  }
  .grid .cl1.ol1 {
    margin-left: 16.6666666667%;
  }
  .grid .cl1.ol2 {
    margin-left: 33.3333333333%;
  }
  .grid .cl1.ol3 {
    margin-left: 50%;
  }
  .grid .cl1.ol4 {
    margin-left: 66.6666666667%;
  }
  .grid .cl1.ol5 {
    margin-left: 83.3333333333%;
  }
  .grid .cl2 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .grid .cl2.ol0 {
    margin-left: 0%;
  }
  .grid .cl2.ol1 {
    margin-left: 16.6666666667%;
  }
  .grid .cl2.ol2 {
    margin-left: 33.3333333333%;
  }
  .grid .cl2.ol3 {
    margin-left: 50%;
  }
  .grid .cl2.ol4 {
    margin-left: 66.6666666667%;
  }
  .grid .cl3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid .cl3.ol0 {
    margin-left: 0%;
  }
  .grid .cl3.ol1 {
    margin-left: 16.6666666667%;
  }
  .grid .cl3.ol2 {
    margin-left: 33.3333333333%;
  }
  .grid .cl3.ol3 {
    margin-left: 50%;
  }
  .grid .cl4 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .grid .cl4.ol0 {
    margin-left: 0%;
  }
  .grid .cl4.ol1 {
    margin-left: 16.6666666667%;
  }
  .grid .cl4.ol2 {
    margin-left: 33.3333333333%;
  }
  .grid .cl5 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .grid .cl5.ol0 {
    margin-left: 0%;
  }
  .grid .cl5.ol1 {
    margin-left: 16.6666666667%;
  }
  .grid .cl6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .grid .cl6.ol0 {
    margin-left: 0%;
  }
}
.chip {
  background-color: #e4e4e4;
  border-radius: 8px;
  color: #161616;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 5px 0;
  min-width: 32px;
  padding: 0 10px 0;
  font-weight: normal;
  text-align: center;
  width: fit-content;
}
.chip:focus {
  outline: none;
  background-color: #26a69a;
  color: #fff;
}
.chip .close_cust, .chip .close {
  cursor: pointer;
  float: right;
  font-size: inherit;
  line-height: inherit;
  padding: 0 8px 0;
}
.chip > img {
  float: left;
  margin: 0 5px 0 -10px;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}
.chip > img.ring-red {
  border-color: #de2128;
}
.chip > img.ring-blue {
  border-color: #0c81f5;
}
.chip > img.ring-yellow {
  border-color: #f1dc23;
}
.chip > img.ring-green {
  border-color: #3bb140;
}

.card {
  background-color: var(--th-surface);
  border-radius: 0.25em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: var(--th-on-surface);
  display: inline-block;
  min-height: 36px;
  min-width: 50px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.card .card-header,
.card .card-body,
.card .card-footer {
  padding: 8px;
  display: block;
  width: 100%;
  word-wrap: break-word;
}
.card .card-header:not(:last-child),
.card .card-body:not(:last-child),
.card .card-footer:not(:last-child) {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-header a,
.card .card-body a,
.card .card-footer a {
  color: inherit;
  text-decoration: underline;
}
.card .card-header {
  font-weight: bold;
}
.card .card-header a:not(.-rm-ls) {
  color: inherit;
}
.card .card-header a:not(.-rm-ls)::before {
  content: "- ";
}
.card .card-header a:not(.-rm-ls)::after {
  content: " -";
}

.media-card {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  position: relative;
  grid-template-areas: "media" "content";
  border-radius: 0.25rem;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.media-card > img,
.media-card > video,
.media-card > object,
.media-card > .details-container,
.media-card > .details-container > .card-details {
  width: 100%;
}
.media-card > img:first-child,
.media-card > video:first-child,
.media-card > .details-container:first-child,
.media-card > .details-container:first-child > .card-details:first-child {
  grid-area: media;
}
.media-card > .details-container:not(:first-child),
.media-card > .details-container:not(:first-child) > .card-details {
  grid-area: content;
}
.media-card .details-container {
  background-color: var(--th-surface);
  max-width: 100%;
  overflow: hidden;
}
.media-card .details-container .card-details {
  grid-area: content;
  width: 100%;
  min-height: 26px;
  background-color: var(--th-surface);
}
.media-card .details-container .card-details > * {
  min-height: 26px;
  line-height: 26px;
}
.media-card .details-container .card-details > span,
.media-card .details-container .card-details > p {
  margin: 0 5px;
  max-width: 100%;
}
.media-card .details-container .card-details:not(:last-child) {
  border-bottom: rgba(51, 51, 51, 0.1) 1px solid;
}
.media-card .details-container .card-details.media-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
