// Element colours
$theme-primary: #DBB4FD;
$theme-secondary: #cc00cc;
$theme-nav: $theme-primary;

// Surface colours
$theme-surface: #353535;
$theme-background: #252525;
$theme-nav-background: $theme-surface;

// Text colours
$theme-error: #bb0020;
$theme-on-primary: #353535;
$theme-on-secondary: #efefef;
$theme-on-error: #efefef;
$theme-on-surface: #efefef;
$theme-on-background: $theme-on-surface;

// Sizes
$theme-nav-width: 200px;
$theme-nav-el-height: 48px;


@media (prefers-color-scheme: dark) {
  :root {
    --th-background: #{$theme-background};
    --th-surface: #{$theme-surface};
    --th-primary: #{$theme-primary};
    --th-secondary: #{$theme-secondary};
    --th-error: #{$theme-error};
    --th-on-primary: #{$theme-on-primary};
    --th-on-secondary: #{$theme-on-secondary};
    --th-on-error: #{$theme-on-error};
    --th-on-surface: #{$theme-on-surface};
    --th-on-background: #{$theme-on-background};

    --th-nav-width: #{$theme-nav-width};
    --th-nav-el-height: #{$theme-nav-el-height};
    --th-nav-color: #{$theme-nav};
    --th-nav-background: #{$theme-nav-background};
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --th-background: #f6f6f6;
    --th-surface: #fefefe;
  --th-primary: #{$theme-primary};
  --th-secondary: #{$theme-secondary};
  --th-error: #{$theme-error};
  --th-on-primary: #{$theme-on-primary};
  --th-on-secondary: #{$theme-on-secondary};
  --th-on-error: #{$theme-on-error};
    --th-on-surface: #222;
  --th-on-background: #222;
  --th-nav-width: #{$theme-nav-width};
  --th-nav-el-height: #{$theme-nav-el-height};
  --th-nav-color: #{$theme-nav};
    --th-nav-background: #;
  }
}

html, body {
  background: var(--th-background)
}