/**
 * Chips are used for anything from tags to user icons. Tags have a couple
 * custom classes that have also been lumped in here for ease of access.
 * 
 * A standard chip is pretty simple, it looks like this:
 * <div class="chip">
 *   Chip text goes here
 *   <i class="icon close_cust">close</i>
 * </div>
 * 
 * A chip that has an image off to the left would look something like this:
 * <div class="chip">
 *   <img src="/path/to/image.png">
 *   Chip text goes here
 *   <i class="icon close_cust">close</i>
 * </div>
 * 
 * The close button is optional, and extra styling for image outlines can be
 * applied to the image with the classes: .ring-red,
 *                                        .ring-blue,
 *                                        .ring-yellow,
 *                                        .ring-green
 */

$chip-bg-color: #e4e4e4 !default;
$chip-border-color: #9e9e9e !default;
$chip-selected-color: #26a69a !default;

.chip {
  background-color: $chip-bg-color;
  border-radius: 8px;
  color: rgb(22,22,22);
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 5px 0;
  min-width: 32px;
  padding: 0 10px 0;
  font-weight: normal;
  text-align: center;
  width: fit-content;

  &:focus {
    outline: none;
    background-color: $chip-selected-color;
    color: #fff
  }

  .close_cust, .close {
    cursor: pointer;
    float: right;
    font-size: inherit;
    line-height: inherit;
    padding: 0 8px 0;
  }

  >img {
    float: left;
    margin: 0 5px 0 -10px;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    

    &.ring-red {
      border-color: #de2128;
    }

    &.ring-blue {
      border-color: #0c81f5;
    }

    &.ring-yellow {
      border-color: #f1dc23;
    }

    &.ring-green {
      border-color: #3bb140;
    }
  }
}